<!DOCTYPE html>
<html>
    <head>
        <title><%= user.name %></title>
        <!-- style css -->
        <link rel="stylesheet" href="../public/css/style.css">

        <!-- external cdn -->
        <link href="https://fonts.googleapis.com/css?family=open+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nova+Flat" rel="stylesheet">
    </head>
    <body>
        
        <!-- include our head from layouts/header -->
        <% include ./layouts/header %>

        <h2>Index page</h2>

    </body>
</html>
